node_modules/
.env
dist/



UserRouter.post("/api/v1/signin", async function (req: Request, res: Response) {
  const email = req.body.email;
  const password = req.body.password;
  try {
    const response = await UserModel.findOne({
     email
  });

  if (!response) {
    return res.json({
      message: "User does not exist in our database",
    });
  }

  const matchedPass = await bcrypt.compare(password, response.password);

  if(!matchedPass){
    return res.json({
        message : "invalid password"
    })
  }

  const secret = process.env.JWT_USER_SECRET;

  if(!secret){
    return res.json({
        message : "environment variable not defined"
    })
  }

    const token = jwt.sign(
        {id : response._id.toString()},
        secret
    )

    return res.json({
      token,
      message : "you are sucessfully Signed in"
    })
  
  }catch{
        return res.status(500).json({ message: "Something went wrong" });
  }
});